Package: com.kindadev.RemoteTweet
Name: RemoteTweet
Depends: mobilesubstrate, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Enhance the Remote.app. Add Share Function.
Depiction: http://kindadev.com/cydia/RemoteTweet.html
Maintainer: kinda <kinda.dev@gmail.com>
Author: kinda <kinda.dev@gmail.com>
Section: Tweaks
